* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #e5e5e5;
}
/* ------------------------------------------------------
                    header and navber 
-------------------------------------------------------*/
header {
  background-color: #562eff;
  height: 100px;
  margin-bottom: 35px;
}
nav {
  max-width: 870px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.logo {
  display: flex;
  align-items: center;
  height: 100px;
  margin-left: 20px;
}
.logo img {
  width: 40px;
  height: 50px;
}
.logo-name {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: white;
  margin-left: 15px;
}

.links ul {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 100px;
}
.links ul li {
  list-style-type: none;
}
.links ul li a {
  text-decoration: none;
  color: white;
  margin-left: 35px;
  font-weight: 400;
}
.links ul li a img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}
/* ------------------------------------------------------
                            main 
-------------------------------------------------------*/
main {
  max-width: 870px;
  margin: 0 auto;
}
.players-and-blogs {
  background-color: #ffffff;
  padding: 30px;
}
h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #562eff;
  margin-bottom: 40px;
}
.players {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}
.player {
  display: flex;
  align-items: center;
  width: 250px;
  margin-bottom: 15px;
}
.player img {
  width: 55px;
  height: 55px;
}
.player p {
  margin-left: 15px;
  color: #000;
  font-size: 18px;
}
hr {
  border: 1px solid #d1d1d1;
  margin: 30px 0;
}
.blogs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.blog {
  display: flex;
  width: 400px;
  margin-bottom: 20px;
}
.blog img {
  width: 177px;
  height: 117px;
}
.blog-titles {
  margin-left: 15px;
}
.blog-titles h3 {
  font-size: 20px;
  line-height: 34px;
  color: #000;
}
.blog-titles p {
  font-size: 16px;
  line-height: 24px;
  color: #9f9f9f;
}
.blog-titles a {
  font-size: 16px;
  line-height: 24px;
  color: #562eff;
  text-decoration: none;
}
.lates-courses,.add-more {
  background-color: #ffffff;
  padding: 30px;
  margin-top: 30px;
}
.courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.course {
  padding: 15px 13px;
  /* box-shadow: 0px 5.34229px 13.3557px rgba(0, 0, 0, 0.1); */
  border-radius: 15px;
  width: 220px;
  margin-bottom: 20px;
}
.course:hover {
  box-shadow: 0px 5.34229px 13.3557px rgba(0, 0, 0, 0.25);
}
.course img {
  width: 100%;
}
.course h3 {
  font-family: "Roboto", sans-serif;
  font-size: 19px;
  line-height: 31px;
  color: #000;
  margin-top: 10px;
}
.course-dit > p {
  font-family: Roboto;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #ed6b4f;
  margin: 7px 0 15px 0;
}
.course-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.rating {
  display: flex;
  align-items: center;
}
.rating img {
  width: 12px;
  height: 12px;
}
.rating p {
  font-family: Poppins;
  font-size: 14px;
  line-height: 22px;
  color: #a2a2a2;
  margin-left: 10px;
}
.times {
  display: flex;
  border-radius: 20px;
  padding: 5px;
  background-color: #ffe4e8;
  width: 95px;
}
.times img {
  width: 20px;
  height: 20px;
}
.times > p {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 14.5px;
  line-height: 20px;
  color: #ff4a60;
  margin-left: 10px;
}
.submit{
  padding: 8px 20px;
  background-color: #562eff;
  color: rgb(255, 255, 255);
  font-weight: 700;
  border-radius: 10px;
}

footer {
  background-color: #562eff;
  color: white;
  padding: 10px 0;
  margin-top: 30px;
}
footer p {
  text-align: center;
}


/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) { 
  .logo, .links ul li a img{
    margin-left: 10px;
  }
  .links ul li a {
    margin-left: 10px;
  }
  .blog {
    display: block;
  }
  .blog img {
    width: 100%;
    height: auto;
  }
  .blogs {
    justify-content: flex-start;
    margin-left: 0px;
  }
  .course {
    width: 100%;
  }
}

 /* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) and (min-width: 575px) {  
  .blog {
    width: 100%;
  }
  .blogs {
    justify-content: flex-start;
    margin-left: 50px;
  }
  .blog-titles h3 {
    font-size: 18px;
  }
  .course {
    width: 300px;
  }
}